package {{javaPackageName}};

import {{contextPackage}}.*;
import {{converterPackage}}.*;
import {{objectPackage}}.*;

import jakarta.annotation.Generated;
import java.math.BigDecimal;
import java.sql.*;
import java.util.List;
import java.util.Arrays;
import java.util.Map;
import java.util.HashMap;

import org.springframework.jdbc.core.*;
import org.springframework.jdbc.object.StoredProcedure;
import org.springframework.stereotype.Repository;

{{#extraImportClasses}}
import {{.}};
{{/extraImportClasses}}

@Repository
@Generated("org.obridge.generators.PackageObjectGenerator")
{{#annotationBasedLoggingInitializer}}
    {{{annotationBasedLoggingInitializer}}}
{{/annotationBasedLoggingInitializer}}
public class {{javaClassName}} {

{{#loggingInitializer}}
    {{{loggingInitializer}}}
{{/loggingInitializer}}

{{#procedureList}}
    private final {{storedProcedureClassName}}Dao {{javaProcedureName}};
{{/procedureList}}

public {{javaClassName}}(JdbcTemplate jdbcTemplate) {
{{#procedureList}}
    this.{{javaProcedureName}} = new {{storedProcedureClassName}}Dao(jdbcTemplate);
{{/procedureList}}
}

{{#procedureList}}
    public {{contextPackage}}.{{storedProcedureClassName}} {{javaProcedureName}}({{& concatenatedTypedInParameters}}) {
    {{contextPackage}}.{{storedProcedureClassName}} ctx = new {{contextPackage}}.{{storedProcedureClassName}}();
    {{#argumentList}}
        {{#inParam}}
            ctx.set{{javaPropertyNameBig}}({{javaPropertyName}});
        {{/inParam}}
    {{/argumentList}}

    {{#loggingMethod}}
        {{loggingMethod}}("Starting {{javaClassName}}.{{javaProcedureName}} call");
    {{/loggingMethod}}

    this.{{javaProcedureName}}.call(ctx);

    {{#loggingMethod}}
        {{loggingMethod}}("{{javaClassName}}.{{javaProcedureName}} executed");
    {{/loggingMethod}}

    return ctx;
    }
{{/procedureList}}

{{#procedureList}}
    public static final class {{storedProcedureClassName}}Dao extends StoredProcedure {

    private {{storedProcedureClassName}}Dao(JdbcTemplate jdbcTemplate) {
    super(jdbcTemplate, "{{& completeDbName}}");
    {{#bindParams}}
        {{& paramDeclaration}}
    {{/bindParams}}
    this.compile();
    }

    public void call({{contextPackage}}.{{storedProcedureClassName}} ctx) {
    try {
    Map<String, Object> call = this.execute(connection -> {
    Map<String, Object> inputs = new HashMap<>();
    {{#bindParams}}
        {{#inParam}}
            {{& paramSet}}
        {{/inParam}}
    {{/bindParams}}

    return inputs;
    });

    {{#bindParams}}
        {{#outParam}}
            {{& paramGet}}
        {{/outParam}}
    {{/bindParams}}
    } catch (Exception e) {
    throw new StoredProcedureCallException(e.getMessage(), e);
    }
    }
    }
{{/procedureList}}
}
