{{#packageName}}
package {{packageName}};
{{/packageName}}

{{#imports}}
import {{.}};
{{/imports}}

{{#comment}}
/**
{{& comment}}
*/
{{/comment}}

{{#lombok}}
@Getter
@Setter
{{/lombok}}
@Generated("{{generatorName}}")
public class {{className}} {

{{#fields}}
    private {{& fieldType}} {{fieldName}};
{{/fields}}

{{#getterSetterMethods}}
{{#fields}}
    public {{& fieldType}} get{{fieldNameInitCap}}() {
        return this.{{fieldName}};
    }

    {{#settable}}
    public void set{{fieldNameInitCap}}({{& fieldType}} {{fieldName}}) {
        this.{{fieldName}} = {{fieldName}};
    }
    {{/settable}}

{{/fields}}
{{/getterSetterMethods}}
}
