package {{javaPackageName}};

public class StoredProcedureCallException extends RuntimeException {
    public StoredProcedureCallException(Exception e) {
        super(e);
    }

    public StoredProcedureCallException(String message, Exception e) {
        super(message, e);
    }
}
